@model DioLive.GradeBook.Models.Result

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Result</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CompleteDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompleteDate" class="form-control" />
                <span asp-validation-for="CompleteDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExerciseId" class="control-label col-md-2">ExerciseId</label>
            <div class="col-md-10">
                <select asp-for="ExerciseId" class="form-control" />
                <span asp-validation-for="ExerciseId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StudentId" class="control-label col-md-2">StudentId</label>
            <div class="col-md-10">
                <select asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Value" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
